:root{
    --primary-color: #4f89bc;
    --primary-light: #afd0ef;
    --primary-lighter: #d9edff;
    --primary-dark: #0b2d4b;
    --primary-medium: #0067c1;
    --secondary-color: #ffae00;
    --secondary-light: #ffe69d;
    --secondary-dark: #c26e00;
    --tertiary-color: #e5179a;
    --vh: 
}
.header{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    margin: 0 auto 2rem auto;
    width: 100%;
    position: relative;
    overflow: hidden;
}
@keyframes photo {
    0%{
        transform: translate(0px,0px);
    }
    50%{
        transform: translate(0px, -10px);
    }
    100%{
        transform: translate(0px,0px);
    }
}
.photo{
    max-width: 500px;
    min-width: 300px;
    margin: 2rem auto 0 auto;
    z-index: -1;
    animation: photo 5000ms ease-in-out infinite;
}
.firstname, .lastname{
    color: var(--primary-medium);
    font-family: 'Bungee Shade', cursive;
    margin: 0;
    margin-right: auto;
    margin-left: 0;
    text-align: left;
    font-size: 4rem;
    line-height: 45px;
    z-index: 10;
}
.firstname{
    color: var(--primary-dark);
    text-shadow: 0px 0px 9px #ffffff22;
}
.grid{
    display: grid;
    grid-template-columns: 1fr;
}
@media screen and (min-width: 800px) {
    .grid{
        grid-template-columns: 1fr 1fr;
    }
}
.SectionTitle{
    margin-top: 0;
    color: var(--primary-dark);
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 3rem;
    margin-bottom: 20px;
}
.SubTitle{
    color: var(--primary-dark);
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 2.5rem;
}
.byline{
    color: var(--primary-dark);
    margin: 50px auto 0 auto;
    font-size: 1rem;
}

.titleContainer{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 2/2;
    align-self: center;
    justify-self: center;
    margin: 0 1rem;
}
.body{
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
}
.Section{
    color: var(--primary-dark);
    min-height: 300px;
    box-sizing: border-box;
}
.SectionContent{
    display: grid;
    grid-template-columns: 1fr;
}
.bgelement, .bgelementborder{
    content: '';
    position: absolute;
    left: 0;
    top: 450px;
    background-color: var(--primary-light);
    height: 80px;
    margin-top: 20px;
    width: 120%;
    z-index: -10;
    border-radius: 9999px;
}
.bgelementborder{
    height: 90px;
    top: calc(450px - 15px);
    left: -15px;
    border: 10px solid var(--primary-light) ;
    background-color: white;
}
@media screen and (min-width: 951px) and (max-width: 1509px ) {
    .bgcontainer{
        position: absolute;
        width: 100%;
        margin-top: -120px;
        left: 0;
    }
}

@media screen and (min-width: 950px){
    .SectionContent{
        grid-template-columns: 1fr 1fr;
    }
    .header{
        margin-top: 100px;
        grid-template-columns: 1fr 1fr;
        width: 80%;
        overflow: visible;
        margin-bottom: 0;
    }
    .bgelement, .bgelementborder{
        top: 140px;
        width: 85%;
        margin-right: 0;
        margin-left: auto;
    }
    .bgelementborder{
        top: calc(140px - 15px);
    }
    .photo{
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        width: 80%;
        margin: 1rem auto;
    }
    .SectionTitle{
        font-size: 3rem;
        margin-bottom: 20px;
    }
    .titleContainer{
        grid-row: 1/1;
        margin-top: 5rem;
        width: 80%;
    }
    .firstname, .lastname{
        margin-top: 50px;
        font-size: 7rem;
        line-height: 50px;
    }
    .byline{
        font-size: 1.5rem;
    }
}
@media screen and (min-width: 1510px) {
    .bgelement, .bgelementborder{
        top: 140px;
        width: 85%;
        margin-right: 0;
        margin-left: auto;
    }
    .bgelementborder{
        top: calc(140px - 15px);
    }
}
