.Name {
  text-align: left;
  text-transform: lowercase;
  font-size: 3rem;
  letter-spacing: -5px;
  justify-self: flex-start;
}
.Name::first-letter {
  color: #4db900;
  margin-right: 3px;
}
.Navbar {
  margin: 0 auto;
  width: 50%;
  display: block;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Navbar span {
  margin: 0 2rem;
}
.Navbar span:hover {
  opacity: 50%;
}

@media only screen and (max-width: 1750px) {
  .Navbar {
    width: 70%;
  }
  .Navbar span {
    margin: 0 1rem;
  }
}

@media only screen and (max-width: 1200px) {
  .Navbar {
    width: 80%;
  }
  .Navbar span {
    margin: 0 1rem;
  }
}

.portfolioPicture {
  display: block;
  width: 550px;
  transform: scaleY(103%);
  border-radius: 15%;
}
.Education {
  background: yellow;
}
.HeroText {
  min-width: 40%;
  box-sizing: border-box;
  padding: 2rem;
}
.Technology {
  text-align: left;
  color: #33639d;
  position: absolute;
  left: 20%;
  top: 63%;
  z-index: 100;
}
.TechList {
  background: #e2edca;
  padding: 20px;
  border-radius: 40px;
}
.byline {
  color: rgb(160, 160, 160);
  margin: 0 auto;
  width: 500px;
  font-size: 1.5rem;
  text-align: right;
  display: flex;
}

.sectionTitle {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5rem;
}
.subTitle {
  font-weight: bold;
}
.body {
  margin-right: 100px;
  margin-left: auto;
  max-width: 60%;
}
.Hero {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 85vh;
  border-bottom: 1px solid lightgray;
}
