.mobilewarning {
  display: none;
}
.Name {
  font-family: "comfortaa";
  font-weight: bold;
  letter-spacing: -1px;
  text-align: left;
  font-size: 2rem;
  padding-left: 2rem;
}
.SocialMediaBookmarks {
  height: 40px;
  padding: 0 5%;
  background: #1f2832;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0 0.5rem;
  }
}
body {
  background: #5cdf7d;
  .container {
    padding: 3rem;
    border-radius: 50px;
    background: white;
  }
}
.body {
  padding: 3rem;
  flex-direction: column;
  gap: 40px;
  display: flex;
}

.container {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto;
  width: 70rem;
}

.Navbar {
  background-image: url("/src/assets/morphing-diamonds.svg");
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  height: auto;
  > div {
    width: 80%;
  }
}
.NavbarElements {
  height: 60px;
  box-sizing: border-box;
  /* width: 80rem; */
  margin: 0 auto;
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1500px;
}

.NavLinks {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-right: 2rem;
  height: 100%;
}
.NavLink {
  align-self: en;
  color: #1f2832;
  font-size: 18px;
  font-family: "poppins";
  background-image: linear-gradient(120deg, #5cdf7d 0%, #5cdf7d 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.5em;
  background-position: 0 100%;
  transition: background-size 0.2s ease-in;
  padding: 0.75rem 1rem;
}
.NavLink:hover {
  background-size: 100% 80%;
  background-position: 0 80%;
  padding: 0.75rem 1rem;
  transition: 200ms;
}
.wrapper {
  background-image: linear-gradient(white 0%, white 55%, #5cdf7d 55.1%);
  box-sizing: border-box;
  margin: 0 auto;
}
.Hero {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 80px;
}
.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.HeroText {
  margin: 0 1rem;
  width: 29%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.greeting {
  padding-bottom: 1rem;
  font-family: "Comfortaa";
  text-align: left;
  font-size: 3rem;
}
.byline {
  text-align: left;
}
.headshot {
  height: fit-content;
  width: 450px;
  box-sizing: border-box;
  /* position: relative; */
  border-radius: 225px 12px 112px 112px;
  box-shadow: 20px 20px rgb(190, 253, 94);
}
.Technology {
  max-width: 100vw;
  width: 35%;
  padding: 1rem 2rem;
  border-radius: 50px;
  background: white;
}
.sectionTitle {
  font-size: 1.5rem;
}
.sectionTitleLarge {
  font-size: 3rem;
}

.Education {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.divider {
  height: 40px;
  width: 100%;
  margin: 2rem auto;
  background-image: url(./assets/morphing-diamonds.svg);
}
.More {
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: 5rem;
  font-size: 1.5rem;
}
.More:hover {
  opacity: 80%;
}
.Footer {
  box-sizing: border-box;
  display: grid;
  padding: 3rem 10%;
  grid-template-columns: 1fr 1fr;
  color: white;
  height: 300px;
  background: #1f2832;
  a {
    width: fit-content;
    display: block;
    color: white;
    font-size: 1rem;
  }
  a:hover {
    opacity: 80%;
  }
}
.Burger,
.BurgerMenu {
  display: none;
}

@media only screen and (max-width: 1280px) {
  .container {
    width: 52rem;
  }
}

@media only screen and (max-width: 1000px) {
  .Navbar > div {
    width: 90%;
  }
  .Navbar {
    .Burger {
      width: 80%;
      margin: 0 auto;
      svg {
        float: right;
      }
    }
  }
  .body {
    padding: 0.25rem;
  }
  .container {
    width: 700px;
    .ProjectsSection {
      flex-direction: column;
      a {
        margin: 1rem auto;
      }
    }
    .More {
      display: block;
      margin: 1rem auto;
    }
    .Experience {
      display: flex;
      flex-direction: column;
      background-image: none;
    }
    .bodyLarge {
      display: none;
    }
    .bodySmall {
      display: flex;
    }
  }
}
@media only screen and (max-width: 800px) {
  .NavbarElements * {
    display: none;
  }
  .mobilewarning {
    display: block;
    width: 60%;
    padding: 1rem;
    margin: 2rem auto;
    background: lightcoral;
    border-radius: 20px;
    border: 5px solid rgb(183, 108, 108);
    box-shadow: 4px 4px rgba(0, 0, 0, 0.185);
  }
  .NavbarElements {
    height: 60px;
  }
  .Burger {
    position: absolute;
    top: 40px;
    display: block;
    height: 60px;
    width: 60px;
    float: right;
    background: rgb(255, 255, 255);
    svg {
      height: 60px;
      width: 50px;
      color: #d3d3d3;
    }
  }
  .BurgerMenu {
    box-sizing: border-box;
    padding: 1rem;
    background: white;
    display: flex;
    flex-direction: column;
    width: 600px;
    overflow: hidden;
    margin: 0 auto;
    max-height: 500px;
    transition: 600ms;
    transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transform-origin: top;
    .NavLink,
    .NavLink:hover {
      background-image: none;
      padding: 0;
      background-size: 0;
      transition: none;
      margin: 0.25rem;
    }
  }
  .hidden {
    max-height: 0;
    padding: 0 1rem;
    transition: 0ms;
  }
  .EducationSection {
    background-image: none;
    .sectionTitleLarge {
      margin-bottom: 1rem;
    }
    .University {
      .degree {
        font-size: 1.25rem;
      }
      .name {
        font-size: 1rem;
      }
    }
    .Learning {
      .name {
        font-size: 1.25rem;
      }
    }
  }
  .container {
    width: 590px;
    box-sizing: border-box;
  }
  .NavLinks {
    .NavLink {
      display: none;
    }
  }

  .container {
    .Education {
      flex-direction: column;
      background-image: url(./assets/Education.svg);
      background-repeat: no-repeat;
      background-clip: content-box;
      background-position: 98% 0%;
      background-size: 28%;
      align-items: flex-start;
    }
  }
  .Hero .profile img {
    display: none;
  }
  .HeroText {
    width: 70%;
    height: 400px;
  }
  .Technology {
    width: 70%;
  }
  .More {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 600px) {
  .Burger {
    right: calc((100vw - 350px) / 2);
  }
  .BurgerMenu {
    width: 400px;
  }
  .container .sectionTitleSmall {
    display: block;
    font-size: 1.5rem;
    width: 90%;
    margin: 1.5rem auto;
    text-align: left;
  }
  .container .Education {
    margin: auto 3rem;
    .sectionTitleLarge {
      display: none;
    }
  }
  .sectionTitle {
    font-size: 1.5rem;
  }
  .sectionTitleLarge {
    font-size: 1.5rem;
  }
  .container {
    width: auto;
    /* max-width: 400px; */
    .ProjectCard {
      width: auto;
    }
    .ProjectsSection {
      a {
        margin: 1rem;
      }
    }
    .SocialMediaBookmarks {
      margin: 0 auto;
      flex-direction: column;
      a {
        margin: 0.25rem;
      }
    }
  }
  .Footer {
    .container {
      margin: 0 auto;
      grid-template-columns: 1fr 1fr;
      grid-gap: 4rem;
    }
  }
  .HeroText {
    width: 85%;
    height: 300px;
    .greeting {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }
  }
  .Technology {
    width: 90%;
  }
}
