.Name {
  font-family: 'Abril Fatface';
  text-align: left;
  font-size: 2rem;
  margin: 0 2rem;
}
.SocialMediaBookmarks {
  height: 40px;
  background: #1f2832;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    svg {
      margin: 0 1rem;
    }
  }
}
.container {
  display: inherit;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 80rem;
  margin: 0 auto;
}
.Navbar {
  background-image: url('/src/assets/morphing-diamonds.svg');
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
}
.NavbarElements {
  box-sizing: border-box;
  /* width: 80rem; */
  margin: 0 auto;
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.NavLinks {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.NavLink {
  font-family: monospace;
  /* background-image: linear-gradient(120deg, #4acc0c 0%, #6befbe 100%); */
  background-image: linear-gradient(120deg, #5cdf7d 0%, #5cdf7d 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.5em;
  background-position: 0 100%;
  transition: background-size 0.2s ease-in;
  padding: 0 1rem;
  margin: 0 1rem;
}
.NavLink:hover {
  background-size: 100% 80%;
  background-position: 0 80%;
  padding: 0.75rem 1rem;
  transition: 200ms;
}
.wrapper {
  background: #5cdf7d;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  /* PLACEHOLDER DIVIDER */
}
.Hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3rem;
}
.HeroText {
  margin: 0 1rem;
  border-radius: 50px;
  width: 29%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.greeting {
  font-family: monospace;
  text-align: left;
  font-size: 3rem;
}
.byline {
  text-align: left;
}
.headshot {
  height: fit-content;
  width: 450px;
  border-radius: 100px 0 100px 100px;
}
.Technology {
  margin: 0 2rem 4rem 2rem;
  width: 35%;
  padding: 1rem 2rem;
  border-radius: 50px;
  background: white;
  margin-top: 0;

  /* background-image: linear-gradient(120deg, #fde8ff 0%, #eaf0ff 100%); */
  /* padding: 1rem; */
}
.sectionTitle {
  /* margin: 0rem 2rem 1rem 0rem; */
  font-size: 1.5rem;
}
.sectionTitleLarge {
  font-size: 3rem;
  /* margin: auto; */
}
.ProjectsTitle {
  font-size: 3rem;
  text-align: right;
}
.Education {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.divider {
  height: 40px;
  width: 100%;
  margin: 2rem auto;
  background-image: url(./assets/morphing-diamonds.svg);
}
.body {
  margin-top: 3rem;
}
