.Name {
  font-family: 'Abril Fatface';
  text-align: left;
  font-size: 2rem;
  margin: 0 2rem;
}
.SocialMediaBookmarks {
  height: 40px;
  background: #1f2832;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin: 0 1rem;
  }
}
.container {
  display: inherit;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto;
  width: 80rem;
}

.Navbar {
  background-image: url('/src/assets/morphing-diamonds.svg');
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  height: auto;
}
.NavbarElements {
  box-sizing: border-box;
  /* width: 80rem; */
  margin: 0 auto;
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.NavLinks {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.NavLink {
  color: '#1f2832';
  font-size: 1rem;
  font-family: monospace;
  background-image: linear-gradient(120deg, #5cdf7d 0%, #5cdf7d 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.5em;
  background-position: 0 100%;
  transition: background-size 0.2s ease-in;
  padding: 0 1rem;
  margin: 0 1rem;
}
.NavLink:hover {
  background-size: 100% 80%;
  background-position: 0 80%;
  padding: 0.75rem 1rem;
  transition: 200ms;
}
.wrapper {
  background: #5cdf7d;
  box-sizing: border-box;
  margin: 0 auto;
}
.Hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3rem;
}
.HeroText {
  margin: 0 1rem;
  width: 29%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.greeting {
  font-family: monospace;
  text-align: left;
  font-size: 3rem;
}
.byline {
  text-align: left;
}
.headshot {
  height: fit-content;
  width: 450px;
  border-radius: 100px 0 100px 100px;
}
.Technology {
  box-sizing: border-box;
  max-width: 100vw;
  margin: 0 2rem 4rem 2rem;
  width: 35%;
  padding: 1rem 2rem;
  border-radius: 50px;
  background: white;
  margin-top: 0;
}
.sectionTitle {
  font-size: 1.5rem;
}
.sectionTitleLarge {
  font-size: 3rem;
}

.Education {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.divider {
  height: 40px;
  width: 100%;
  margin: 2rem auto;
  background-image: url(./assets/morphing-diamonds.svg);
}
.More {
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: 5rem;
  font-size: 1.5rem;
}
.More:hover {
  opacity: 80%;
}
.Footer {
  box-sizing: border-box;
  display: grid;
  color: white;
  margin-top: 100px;
  height: 300px;
  background: #1f2832;

  div {
    margin: 3rem auto;
    grid-template-columns: 1fr 1fr 2fr;
    justify-content: flex-start;
    align-items: flex-start;
  }
  a {
    width: fit-content;
    display: block;
    color: white;
    font-size: 1rem;
  }
  a:hover {
    opacity: 80%;
  }
}
.Burger,
.BurgerMenu {
  display: none;
}

@media only screen and (max-width: 1280px) {
  .container {
    width: 1000px;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 800px;
    .ProjectsSection {
      flex-direction: column;
      a {
        margin: 1rem auto;
      }
    }
    .More {
      display: block;
      margin: 1rem auto;
    }
    .Experience {
      display: flex;
      flex-direction: column;
      background-image: none;
    }
    .bodyLarge {
      display: none;
    }
    .bodySmall {
      display: flex;
    }
  }
}
@media only screen and (max-width: 800px) {
  .NavbarElements {
    height: 60px;
  }
  .Burger {
    position: absolute;
    top: 40px;
    right: calc((100vw - 550px) / 2);
    display: block;
    height: 60px;
    width: 60px;
    content: '>';
    background: rgb(255, 255, 255);
    svg {
      height: 60px;
      width: 50px;
      color: #d3d3d3;
    }
  }
  .BurgerMenu {
    box-sizing: border-box;
    padding: 1rem;
    background: white;
    display: flex;
    flex-direction: column;
    width: 600px;
    overflow: hidden;
    margin: 0 auto;
    max-height: 500px;
    transition: 600ms;
    transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transform-origin: top;
    .NavLink,
    .NavLink:hover {
      background-image: none;
      padding: 0;
      background-size: 0;
      transition: none;
      margin: 0.25rem;
    }
  }
  .hidden {
    max-height: 0;
    padding: 0 1rem;
    transition: 0ms;
  }
  .EducationSection {
    background-image: none;
    .sectionTitleLarge {
      margin-bottom: 1rem;
    }
    .University {
      .degree {
        font-size: 1.25rem;
      }
      .name {
        font-size: 1rem;
      }
    }
    .Learning {
      .name {
        font-size: 1.25rem;
      }
    }
  }
  .container {
    width: 600px;
  }
  .NavLinks {
    .NavLink {
      display: none;
    }
  }

  .container {
    .Education {
      flex-direction: column;
      background-image: url(./assets/Education.svg);
      background-repeat: no-repeat;
      background-clip: content-box;
      background-position: 98% 0%;
      background-size: 28%;
      align-items: flex-start;
    }
  }
  .Hero .profile img {
    display: none;
  }
  .HeroText {
    width: 70%;
    height: 400px;
  }
  .Technology {
    width: 70%;
  }
  .More {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 600px) {
  .Burger {
    right: calc((100vw - 350px) / 2);
  }
  .BurgerMenu {
    width: 400px;
  }
  .container .sectionTitleSmall {
    display: block;
    font-size: 1.5rem;
    width: 90%;
    margin: 1.5rem auto;
    text-align: left;
  }
  .container .Education {
    margin: auto 3rem;
    .sectionTitleLarge {
      display: none;
    }
  }
  .sectionTitle {
    font-size: 1.5rem;
  }
  .sectionTitleLarge {
    font-size: 1.5rem;
  }
  .container {
    width: auto;
    max-width: 400px;
    .ProjectCard {
      width: auto;
    }
    .ProjectsSection {
      a {
        margin: 1rem;
      }
    }
    .SocialMediaBookmarks {
      margin: 0 auto;
      flex-direction: column;
      a {
        margin: 0.25rem;
      }
    }
  }
  .Footer {
    .container {
      margin: 0 auto;
      grid-template-columns: 1fr 1fr;
      grid-gap: 4rem;
    }
  }
  .HeroText {
    width: 85%;
    height: 300px;
    .greeting {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }
  }
  .Technology {
    width: 90%;
  }
}
