.BackgroundDoodles {
  svg {
    position: absolute;
  }
}
.ConcentricCircles1 {
  position: absolute;
  top: 9%;
  left: 64%;
  width: 270px;
}
.ConcentricCircles2 {
  position: absolute;
  top: 49%;
  left: 49.5%;
  width: 170px;
}
.ConcentricCircles3 {
  position: absolute;
  top: 12%;
  left: 18.5%;
  width: 250px;
}
