.Divider {
  height: 100px;
  background-image: url('./assets/morphing-diamonds.svg');
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  border-top: 1px solid black;
}
.Dividerfill {
  height: 11.5vh;
  box-sizing: border-box;
  margin: 0 15%;
  padding: 0 5%;
  background: black;
}
