.degree {
  font-size: 2rem;
}
.name {
  font-size: 1.5rem;
}
.location {
  color: lightgrey;
}
.dates {
  margin: 0 auto;
  color: lightgrey;
}
.Education {
  background-image: url(./assets/Education.svg);
  background-repeat: no-repeat;
  background-clip: content-box;
  background-position: 20% 40%;
  background-size: 30%;
  margin: 3rem;
}
.FullEducation {
  height: 70vh;
  margin: 3rem auto;
}
.EducationSection {
  /* margin: 2rem; */
  display: flex;
  flex-direction: column;
  /* grid-template-columns: 1fr 1fr; */
  row-gap: 2rem;
}
.sectionTitleSmall {
  display: none;
}

@media only screen and (max-width: 1280px) {
}
@media only screen and (max-width: 100px) {
}
@media only screen and (max-width: 800px) {
  .sectionTitleLarge {
    align-self: flex-start;
  }
  .FullEducation {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-position: 81% 3%;
    background-size: 30%;
  }
}
@media only screen and (max-width: 600px) {
  .FullEducation {
    background-image: none;
    .sectionTitleLarge {
      margin-bottom: 1rem;
    }
    .University {
      .degree {
        font-size: 1.25rem;
      }
      .name {
        font-size: 1rem;
      }
    }
    .Learning {
      .name {
        font-size: 1.25rem;
      }
    }
  }
}
