h2,
h3 {
  margin: 0;
  line-height: 2rem;
}
h3 {
  font-weight: 500;
}
.University {
  padding: 2rem;
  border-bottom: 1px solid lightgrey;
}
.location,
.dates {
  color: rgb(109, 109, 109);
  font-weight: 300;
}
.Education {
  background-image: url(./assets/Education.svg);
  background-repeat: no-repeat;
  background-clip: content-box;
  background-position: 20% 40%;
  background-size: 30%;
  padding: 3rem;
}
.Learning {
  padding: 0 2rem;
  .name {
    font-size: 1.125rem;
    font-weight: 600;
  }
}
.FullEducation {
  height: 70vh;
  margin: 3rem auto;
}
.EducationSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.sectionTitleSmall {
  display: none;
}

@media only screen and (max-width: 1280px) {
}
@media only screen and (max-width: 100px) {
}
@media only screen and (max-width: 800px) {
  .sectionTitleLarge {
    align-self: flex-start;
  }
  .FullEducation {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-position: 81% 3%;
    background-size: 30%;
  }
}
@media only screen and (max-width: 600px) {
  .FullEducation {
    background-image: none;
    .sectionTitleLarge {
      margin-bottom: 1rem;
    }
    .University {
      .degree {
        font-size: 1.25rem;
      }
      .name {
        font-size: 1rem;
      }
    }
    .Learning {
      .name {
        font-size: 1.25rem;
      }
    }
  }
}
