.degree {
  font-size: 2rem;
}
.name {
  font-size: 1.5rem;
}
.location {
  color: lightgrey;
}
.dates {
  margin: 0 auto;
  color: lightgrey;
}
.Education {
  background-image: url(./assets/Education.svg);
  background-repeat: no-repeat;
  background-clip: content-box;
  background-position: 20% 40%;
  background-size: 30%;
}
.EducationSection {
  /* margin: 2rem; */
  display: flex;
  flex-direction: column;
  /* grid-template-columns: 1fr 1fr; */
  row-gap: 2rem;
}
