.Experience {
  padding: 5rem 2rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: column;
  grid-area: span;
  background-image: url(/src/assets/expbg2.png);
  background-repeat: no-repeat;
  background-position: 52% 45%;
  background-size: 65%;
}
.FullCompany {
  height: 300px;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  .PositionTitle {
    font-size: 2rem;
  }
  .ExperienceByline {
    margin: 0.5rem 0;
    display: flex;
    justify-content: flex-start;
    * {
      margin-right: 1rem;
    }
  }
}
.CompanyLogo {
  img {
    display: block;
    width: 80%;
    object-fit: contain;
  }
}

.ExperienceCard {
  margin: 1rem auto;
  padding: 1.25rem;
  width: 250px;
  height: 120px;
  border-radius: 20px;
  text-align: center;
  text-wrap: balance;
  align-content: space-around;
  background: #d1c0ff;
  opacity: 80%;
  transition: 200ms;
  position: relative;
}

.ExperienceCard:hover {
  opacity: 100%;
  transition: 200ms;
}
.PositionTitle {
  font-size: 1.25rem;
}
.ExperienceTitle {
  font-size: 3rem;
  text-align: center;
  margin-top: 4rem;
}
.Company {
  font-size: 1rem;
}
.ExperienceDates {
  color: rgb(99, 99, 99);
}
.bodySmall {
  display: none;
}
@media only screen and (max-width: 1280px) {
  .Experience.bodyLarge {
    background-size: 67%;
    background-position: 52% 22%;
  }
}
@media only screen and (max-width: 1000px) {
  .Experience.bodySmall {
    padding: 0;
  }
}
@media only screen and (max-width: 800px) {
  .container.FullExperience {
    width: 100%;
  }
  .FullCompany {
    grid-template-columns: 3fr 5fr;
    margin: 3rem auto;
    width: 90%;
    height: auto;
    align-items: flex-start;
    justify-content: flex-start;
    .PositionTitle {
      font-size: 1.25rem;
      text-wrap: balance;
    }
    .CompanyText {
      .ExperienceByline {
        display: block;
      }
      .ExperiencePoint {
        margin-bottom: 1rem;
      }
    }
    .CompanyLogo {
      img {
        max-height: 180px;
        display: block;
        margin: 1rem auto;
        width: 70%;
        object-fit: contain;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .ExperienceTitle {
    font-size: 1.5rem;
    width: 90%;
    margin: 1.5rem auto;
    text-align: left;
  }
  .FullCompany {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    width: 95%;
    .CompanyLogo {
      margin: 1rem auto;
      width: 80%;
    }
  }
}
