.Experience {
  padding: 5rem 2rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: column;
  grid-area: span;
  background-image: url(/src/assets/expbg2.png);
  background-repeat: no-repeat;
  background-position: 52% 45%;
  background-size: 65%;
}
.FullCompany {
  height: 300px;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  .PositionTitle {
    font-size: 2rem;
  }
  .ExperienceByline {
    margin: 0.5rem 0;
    display: flex;
    justify-content: flex-start;
    * {
      margin-right: 1rem;
    }
  }
}
.CompanyLogo {
  max-width: 80%;
  /* margin: 2rem; */
}

.ExperienceCard {
  margin: 1rem auto;
  padding: 1.25rem;
  width: 250px;
  height: 120px;
  /* border: 4px solid #323232; */
  border-radius: 20px;
  text-align: center;
  text-wrap: balance;
  align-content: space-around;
  background: #d1c0ff;
  opacity: 80%;
  transition: 200ms;
  position: relative;
}
/* .ExperienceCard::before {
  content: ' ';
  position: absolute;
  z-index: -1;
  top: 45%;
  left: 45%;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: black;
  opacity: 40%;
} */

.ExperienceCard:hover {
  opacity: 100%;
  transition: 200ms;
}
.PositionTitle {
  font-size: 1.25rem;
}
.ExperienceTitle {
  font-size: 2rem;
  text-align: center;
  margin-top: 4rem;
}
.Company {
  font-size: 1rem;
}
.ExperienceDates {
  color: rgb(99, 99, 99);
}
