:root {
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
  }
}
