.degree {
  font-size: 2rem;
}
.name {
  font-size: 1.5rem;
}
.location {
  color: lightgrey;
}
.dates {
  margin: 0 auto;
  color: lightgrey;
}
.ProjectsTitle {
  font-size: 3rem;
  text-align: right;
  margin: 3rem 15% 1rem 0;
}
.Projects {
  background-image: url(./assets/Projects.svg);
  background-repeat: no-repeat;
  background-clip: content-box;
  background-position: 91% -0%;
  background-size: 20%;
}
.ProjectsSection {
  display: flex;
  flex-direction: row;
}
.ProjectThumbnail {
  box-sizing: border-box;
  margin: 2rem auto;
  border-radius: 10px;
  width: 100%;
}
.ProjectCard {
  width: 400px;
  border: 3px solid transparent;
  margin: 1rem;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.02), 1px 1px 1px rgba(0, 0, 0, 0.05);
  background: white;
  transition: 200ms;
}
.ProjectCard:hover {
  /* opacity: 80%; */
  /* transform: translateY(-10px); */
  transition: 200ms;
  transition-timing-function: ease-in;
  border: 3px solid rgb(233, 233, 233);
  /* box-shadow: 3px 3px 25px rgba(122, 184, 255, 0.3),
    1px 1px 1px rgba(65, 192, 255, 0.385); */
}
.ProjectName {
  font-size: 1.5rem;
}
