.degree {
  font-size: 2rem;
}
.name {
  font-size: 1.5rem;
}
.location {
  color: lightgrey;
}
.dates {
  margin: 0 auto;
  color: lightgrey;
}
.ProjectsTitle {
  font-size: 3rem;
  text-align: right;
  margin-right: 15%;
}
.FullProjectsTitle {
  font-size: 3rem;
  text-align: center;
  margin-top: 3rem;
}
.Projects {
  background-image: url(./assets/Projects.svg);
  background-repeat: no-repeat;
  background-clip: content-box;
  background-position: 91% -0%;
  background-size: 20%;
}
.ProjectsSection {
  display: flex;
  flex-direction: row;
}
.ProjectThumbnail {
  box-sizing: border-box;
  margin: 2rem auto;
  border-radius: 10px;
  width: 100%;
}
.ProjectCard {
  width: 400px;
  border: 3px solid transparent;
  margin: 1rem;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.02), 1px 1px 1px rgba(0, 0, 0, 0.05);
  background: white;
  transition: 200ms;
}
.ProjectCard:hover {
  /* opacity: 80%; */
  /* transform: translateY(-10px); */
  transition: 200ms;
  transition-timing-function: ease-in;
  border: 3px solid rgb(233, 233, 233);
  /* box-shadow: 3px 3px 25px rgba(122, 184, 255, 0.3),
    1px 1px 1px rgba(65, 192, 255, 0.385); */
}
.ProjectName {
  font-size: 1.5rem;
}

.ProjectSlide {
  padding: 3rem;
  margin: 1rem;
  border-radius: 50px;
  width: 75%;
  .ProjectName {
    font-size: 2rem;
    margin-bottom: 3rem;
    width: 100%;
    border-bottom: 1px solid rgb(237, 237, 237);
  }
  .ProjectBody {
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 3fr 2fr;

    .ProjectLeft {
      max-width: 800px;
      .ProjectThumbnail {
        box-sizing: border-box;
        margin: 0;
      }
    }
    .ProjectRight {
      height: 100%;
      margin: 0 auto;
      width: 75%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      * {
        margin: 1rem 0;
      }
      .ProjectTech {
        font-size: 1.25rem;
        color: #afafaf;
      }
      .ProjectLink {
        color: lightskyblue;
        text-align: right;
      }
      .ProjectLink:hover {
        color: lightskyblue;
        opacity: 60%;
      }
    }
  }
}
.FullProjects {
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  .ProjectCard {
    width: 60%;
  }
}

@media only screen and (max-width: 1280px) {
  .ProjectSlide {
    .ProjectBody {
      grid-template-columns: 1fr 1fr;
    }
  }
}
@media only screen and (max-width: 1000px) {
  .ProjectSlide {
    padding: 0;
    width: 90%;
    margin-bottom: 3rem;
  }
}
@media only screen and (max-width: 800px) {
  .ProjectCard {
    .ProjectName {
      font-size: 1.25rem;
    }
  }

  .ProjectSlide {
    .ProjectName {
      font-size: 1.25rem;
    }
    .ProjectBody {
      display: flex;
      flex-direction: column;
      .ProjectThumbnail {
        max-width: 400px;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .ProjectsTitle {
    font-size: 1.5rem;
    width: 90%;
    margin: 1.5rem auto;
    text-align: left;
  }
  .FullProjectsTitle {
    font-size: 1.5rem;
    width: 75%;
    margin: 1.5rem auto;
    text-align: left;
  }
}
